.playlist {
  margin-top: 10px;
}

.shuffle {
  margin: 10px;
  padding: 8px;
  background: #222;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}

.song-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.song-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
}

.song-item .info h4 {
  margin: 0;
  color: white;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-item .info p {
  margin: 0;
  color: #aaa;
  font-size: 12px;
}