body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.top-tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #111;
}

.top-tabs button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.top-tabs .active {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.bottom-tabs {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 15px;
  padding: 05px 15px;
  border-bottom: 1px solid #333;
  background-color: #0a0a0a;
  color: #fff;
}

.bottom-tabs span {
  padding: 10px;
  cursor: pointer;
  color: #aaa;
}

.bottom-tabs .active-tab {
  color: white;
  border-bottom: 2px solid #bb86fc;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}